<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>925271095354-0rk0q2ueb9iidtcm2lprmpgctqh2l8c8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925271095354-0rk0q2ueb9iidtcm2lprmpgctqh2l8c8</string>
	<key>API_KEY</key>
	<string>AIzaSyCsjPFGC-sPi4bpIme8057SNMAIjBKSJbQ</string>
	<key>GCM_SENDER_ID</key>
	<string>925271095354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.causeFlutterMvp</string>
	<key>PROJECT_ID</key>
	<string>cause-flutter-mvp</string>
	<key>STORAGE_BUCKET</key>
	<string>cause-flutter-mvp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925271095354:ios:9c9d90b197f971fa31dd03</string>
	<key>DATABASE_URL</key>
	<string>https://cause-flutter-mvp-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>